{% extends 'landmark/base.html' %}
{% block title %}Home{% endblock title %}
{% block headline %}Home{% endblock headline %}
{% block content %}
<body>
    <span style= "font-weight:bold;
                font-size:2em;
                line-height: 1.0em;">
저희 사이트에 오신걸 환영 합니다  
</span>
<br><br>
<img src="/media/landmark_icon.gif" alt="style size" style="width:720px; height:520px">
<br><br>
<span style= "font-weight:bold;">
회원가입 하기 / 계정이 있으시면 로그인 하러가기 
</span>
<br><br>
<button class="btn btn-primary" onclick= "window.location.href='{% url 'landmark:signup' %}'" value="sign up">Sign up</button>
<button class="btn btn-primary" onclick= "window.location.href='{% url 'landmark:login' %}'" value="login">Login</button>

</body>
{% endblock %}