{% extends 'landmark/base.html' %}
{% block title %}로그인 페이지{% endblock title %}
{% block headline %}Login{% endblock headline %}
{% block content %}
<body>
    
<div class="container">

    <form method="POST" action="{% url 'landmark:login' %}">
        {%csrf_token%}
        ID:
        <br>
        <input name="username"type="text">
        <br>
        Password:
        <br>
        <input name="password" type="password">
        <br><br>
        <input type="submit" class="btn btn-primary" value="login">
    </form>
</div>
<div id="login-error" class="error-message" style="display: block;">
    {{error}}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var errorDiv = document.getElementById("login-error");
        if (errorDiv.innerHTML.trim() !=="") {

        }
    });
</script>
</body>
{% endblock %}