{% extends 'landmark/base.html' %}
{% block title %}Login{% endblock title %}
{% block headline %}Login{% endblock headline %}
{% block content %}
<body>
    
<div class="container">

    <form method="POST" action="{% url 'landmark:login' %}">
        {%csrf_token%}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <br>
        <input type="submit" class="btn btn-lg btn-primary" value="Login">
    </form>
</div>
<div id="login-error" class="error-message" style="display: block;">
    {{error}}
</div>
<br>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var errorDiv = document.getElementById("login-error");
        if (errorDiv.innerHTML.trim() !=="") {

        }
    });
</script>
</body>
{% endblock %}