{% extends 'landmark/base.html' %}
{% block title %}회원가입 페이지{% endblock title %}
{% block headline %}Sign Up{% endblock headline %}
{% block content %}
<body>
    <div class="container">
    
        <form method = "POST" action="{% url 'landmark:signup'%}">
            {% csrf_token %}
            ID:
            <br>
            <input name="username"type="text">
            <br>
            Password:
            <br>
            <input name="password1" type="password">
            <br>
            Confirm Password:
            <br>
            <input name="password2" type="password">
            <br><br>
            <input type="submit" class="btn btn-primary" value="sign up">
        </form>
    </div>
</body>
{% endblock %}



