{% extends 'landmark/base.html' %}
{% block title %}Upload{% endblock title %}
{% block headline %}Upload{% endblock headline %}
{% block content %}
<body>
    <div class="mb-3">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
            <label class="form-label" for="{{ form.imgfile.id_for_label }}">궁금하신 랜드마크 사진을 업로드 해보세요</label>
            <input type="file" class="form-control" id="{{ form.imgfile.id_for_label }}" name="{{ form.imgfile.name }}">
            <br>
            <button type='submit' class = "btn btn-primary">Upload</button>
    </form>
</div>
<a class="btn btn-primary" href='{% url 'landmark:index' %}'>Previous</a>
</body>
{% endblock %}